.ref-count-hidden {
  display: none;
  font-size: 64%;
  padding-left: 2px;
}

.ref-count-visible {
  font-size: 64%;
  padding-left: 2px;
}

.rc-op-025 {
  opacity: 0.25;
}
.rc-op-050 {
  opacity: 0.5;
}
.rc-op-075 {
  opacity: 0.75;
}

.rm-attr-ref:hover + span > sup.ref-count-hidden,
.rm-page-ref:hover + span > sup.ref-count-hidden {
  display: inline;
  cursor: none;
}

.rm-page-ref__brackets + span > sup.ref-count-visible {
  padding-left: 1px;
}

.rm-page-ref__brackets + span > sup.ref-count-visible.rc-small,
.rm-page-ref__brackets + span > sup.ref-count-visible.rc-xsmall {
  padding-left: 0px;
}

.rc-xsmall {
  font-size: 49%;
}
sup.rc-xsmall {
  top: -0.85em !important;
}

.rc-small {
  font-size: 57%;
}
sup.rc-small {
  top: -0.65em !important;
}

.rc-large {
  font-size: 72%;
}
sup.rc-large {
  top: -0.35em;
}
.rc-xlarge {
  font-size: 77%;
}
sup.rc-xlarge {
  top: -0.25em;
}
